* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
    height: 15vh;
    color: #f1cd9d;
    background-color: #85643c;
    box-shadow: 0 14px 36px #f1cd9d;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

header img {
    width: 25%;
    height: 100px;
}

header #nav {
    right: 50px;
    position: relative;
}

header #nav ul {
    display: flex;
    list-style: none;
}

header a {
    text-decoration: none;
    color: #f1cd9d;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

header a li:hover,
header a li.in {
    color: #fff;
}

header a li.in::after,
header a li:hover::after {
    content: "";
    width: 40%;
    height: 2px;
    background-color: #fff;
    margin-bottom: 20px;
    bottom: -20px;
    left: 10px;
    position: absolute;
}

#product ,
#sort {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-top: 30vh;
}

#sort {
    padding-top: 10px;
}

.prod {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 5px 5px 36px #3b3737;
}

.img-pro {
    width: 100%;
    height: 150px;
}

.des h2 {
    font-size: 1.2rem;
}

.des h4 {
    color: #007b00;
}

.prod:hover {
    box-shadow: 5px 5px 12px #3b3737;
    border-color: #85643c;
}

#cate {
    margin-top: 30px;
    margin-bottom: 15px;
}

#cate #marquee h2 {
    color: #85643c;
    display: inline;
    padding: 5px;
    margin:  0 50px;
    border: solid 2px #3b3737;
    border-radius: 8px;
    box-shadow:  0 18px 36px #3b3737;
}

#cate #marquee h2:hover{
    filter: drop-shadow(15px 15px 36px #b88241);
    color: #fff;
    -webkit-text-stroke: 0.5px rgb(39, 35, 35);
}


